<!-- batch log -->
<article class="container-fluid">
    <div class="row">
        <div class="col-xl-5 mx-auto mt-5 text-white">
            <header>
                <h1 class="text-center text-uppercase"> 
                    Insert Log Files 
                </h1>
                <h4 class="text-center text-monospace"> 
                    Only .txt and .log files are allowed! 
                </h4>
            </header>
        </div>
    </div>

    <div class="row my-3 my-md-5">
        <div class="col-12">
            <div class="box-wrapper w-50 mx-auto">
                <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit ();">
                    <div class="form-row">
                        <div class="col-12">
                            <div class="input-group">
        
                                <!-- file -->
                                <div class="custom-file">
                                    <input type="file" id="inputFile" class="custom-file-input"
                                           multiple="true" accept=".txt, .log"
                                           formControlName="file">
                                    <label for="inputFile" id="labelFile" class="custom-file-label"> 
                                        Choose File(s) 
                                    </label>
                                </div>
        
                                <!-- upload -->
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary" 
                                            (click)="buttonSubmit.click ()" [disabled]="this.form.invalid"> 
                                        Upload
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <button type="submit" class="d-none" #buttonSubmit> 
                        Submit 
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- file container -->
    <div class="row my-3 my-md-5 text-white">
        <div class="col-12 mx-auto">
            <div id="fileContainer" class="file-container"></div>
        </div>
    </div>
</article>
